<!-- * Error page -->
<div class="container">
  <div class="container info-section">
    <ul>
      <!-- * List of error message -->
      <li>{{error}}</li>
      <li>{{message}}</li>
    </ul>
  </div>

  <!-- Back Button -->
  <a href="/">
    <button class="btn btn-inverse btn-custom" id="goHomeButton">Go Home</button></a>
</div>